{% extends 'base.template.html' %}

{% load static %}

{%block content %}

<div class="main">
  <h1>About EnviroD</h1>
  <div class="about">
    <img src="{% static "images/logo.jpg" %}" width="150" height="150" alt="" />
    <br/><br/>
    <h4><i>Building a community. Caring for the environment. Making small changes.</i></h4>
    <p>EnviroD is a community led non-profit green initiative where members share ways to make changes towards a greener world. Events are held at our 3 spaces and range from talks, hands-on, book reviews, exhibitions and even sales.</p>
    <p>Join our community and begin your change.</p>
  </div>
</div>

{%endblock%}
