{% extends 'base.template.html' %}

{% load static %}

{%block footer_js %}

<script>
$(document).ready(function(){
    $("#myToast").toast({ autohide: false });
    $("#myToast").toast('show');
});
</script>

{%endblock%}

{%block content %}

<div class = "main">
    
<div class="row">
    {% for event in filter.qs %}
      <div class="col-sm-4">
        <div class="card">
            <img src="{{event.image.url}}" class="card-img-top">
            <div class="card-body">
                {% for t in event.tags.all %}
                    <h6>{{t.name}}</h6>
                {%endfor%}
                <h5 class="card-title">{{event.name}}</h5>
                <p class="card-text">About Event: {{event.description}}</p>
                <p class="card-text">Cost: ${{event.getCostInDollars}}0</p>
                <p class="card-text">Date: {{event.date}}</p>
                <p class="card-text">Time: {{event.start_time}} to {{event.end_time}}</p>
                <p class="card-text">Location: {{event.location}}</p>
                <p class="card-text">Seats Available: {{event.quantity}}</p>
                <a href="{% url 'add_to_cart' event_id=event.id %}" class="btn btn-primary">Register</a>
            </div>
        </div>
      </div>
    {%endfor%}
</div>


<div class="bs-example">
    <div class="toast" id="myToast" style="position: absolute; top: 75px; right: 200px;">
        <div class="toast-header">
            <strong class="mr-auto"><i class="fa fa-grav"></i>Added to Cart!</strong>
            <a href="{% url "catalog" %}"><button type="button" class="ml-2 mb-1 close" data-dismiss="toast">
                <span aria-hidden="true">&times;</span>
            </button></a>
        </div>
        <div class="toast-body">
            <h5>Cart Items</h5>
            {%for cart_item in all_cart_items %}
                <p>{{cart_item.event.name}} x {{cart_item.quantity }}</p>
            {%endfor%}
            <a href="{% url "view" %}" class="btn btn-primary">Checkout!</a>
            <p>or <a href="{% url "catalog" %}">close</a> to continue shopping</p>
        </div>
    </div>
</div>

</div>
{%endblock%}