{% extends 'base.template.html' %}

{% load static %}

{%block footer_js %}

<script src="{% static 'js/script.js' %}"></script>

{%endblock%}

{%block content %}

<div class = "main">
    
<div style='display:flex;justify-content:space-between'>

    {%for workshop in all_workshops %}
    <div class="card" style="width: 18rem;">
        <img src="{{workshop.image.url}}" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title">{{workshop.name}}</h5>
            <p class="card-text">{{workshop.description}}</p>
            <p class="card-text">${{workshop.getCostInDollars}}0</p>
            <a href="{% url 'add_to_cart' workshop_id=workshop.id %}" class="btn btn-primary">Register</a>
        </div>
    </div>
    {%endfor%}

</div>


<div class="bs-example">
    <div class="toast" id="myToast" style="position: absolute; top: 75px; right: 200px;">
        <div class="toast-header">
            <strong class="mr-auto"><i class="fa fa-grav"></i> We miss you!</strong>
            <small>11 mins ago</small>
            <a href="{% url "catalog" %}"><button type="button" class="ml-2 mb-1 close" data-dismiss="toast">
                <span aria-hidden="true">&times;</span>
            </button></a>
        </div>
        <div class="toast-body">
            <div>It's been a long time since you visited us. We've something special for you. <a href="#" class="btn btn-primary">Click here!</a></div>
        </div>
    </div>
</div>

</div>
{%endblock%}