{% extends 'base.template.html' %}

{% load crispy_forms_tags %}

{%block content %}

<div class = "main">
<form method="get">
    {{ filter.form | crispy }}
    <button type="submit">Search</button>
</form>

<div class="row">
    {% for event in filter.qs %}
      <div class="col-sm-3 mb-3 mt-2">
        <div class="card" style="height: 100%;">
            <img src="{{event.image.url}}" class="card-img-top">
            <div class="card-body">
                {% for t in event.tags.all %}
                    <h6>{{t.name}}</h6>
                {%endfor%}
                <h5 class="card-title">{{event.name}}</h5>
                <p class="card-text">About Event: {{event.description}}</p>
                <p class="card-text">Cost: ${{event.getCostInDollars}}0</p>
                <p class="card-text">Date: {{event.date}}</p>
                <p class="card-text">Time: {{event.start_time}} to {{event.end_time}}</p>
                <p class="card-text">Location: {{event.location}}</p>
                <p class="card-text">Seats Available: {{event.quantity}}</p>
                <a href="{% url 'add_to_cart' event_id=event.id %}" class="btn btn-primary">Register</a>
            </div>
        </div>
      </div>
    {%endfor%}
</div>

{% if response.has_other_pages %}
<div class="pagination">
    <span class="step-links">
        {% if response.has_previous %}
            &nbsp; <a href="?page=1">First</a>&nbsp; |
            &nbsp; <a href="?page={{ response.previous_page_number }}">Previous</a>&nbsp; 
        {% endif %}
    
        <span class="current">
            Page {{ response.number }} of {{ response.paginator.num_pages }}
        </span> {% if response.has_next %}
        &nbsp; <a href="?page={{ response.next_page_number }}">Next</a>&nbsp; |
        &nbsp; <a href="?page={{ response.paginator.num_pages }}">Last</a>&nbsp; {% endif %}
    </span>
</div>
{% endif %}
</div>

{%endblock%}