{% extends 'base.template.html' %}

{% load crispy_forms_tags %}

{%block content %}

<div class = "main">
<div style='display:flex;justify-content:space-between'>

    {%for workshop in all_workshops %}
    <div class="card" style="width: 18rem;">
        <img src="{{workshop.image.url}}" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title">{{workshop.name}}</h5>
            <p class="card-text">{{workshop.description}}</p>
            <p class="card-text">${{workshop.getCostInDollars}}0</p>
            <p class="card-text">{{workshop.location}}</p>
            <p class="card-text">Seats Left: {{workshop.quantity}}</p>
            <a href="{% url 'add_to_cart' workshop_id=workshop.id %}" class="btn btn-primary">View</a>
        </div>
    </div>
    {%endfor%}

</div>
</div>

{%endblock%}