{% extends 'base.template.html' %}

{% load static %} 

{%block footer_js %}
<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.4.0/mapbox-gl.js'></script>
<script src="{% static 'js/maps.js' %}"></script>
{%endblock%}

{%block content %}

<div class = "map-page">
<h1>Visit Us</h1>
<div id="map"></div>


<div id = "address">
  <div class="row justify-content-around">
    <div class="col-3">
      One of two columns
    </div>
    <div class="col-33">
      One of two columns
    </div>
    <div class="col-3">
      One of two columns
    </div>
  </div>
  
</div>

</div>

{%endblock%}