{% extends 'base.template.html' %}

{% load static %} 

{%block footer_js %}
<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.4.0/mapbox-gl.js'></script>
<script src="{% static 'js/maps.js' %}"></script>
{%endblock%}

{%block content %}
<div class = "main">
<h1>Visit Us</h1>
<div class = "map-page">
<div id="map"></div>


<div id = "address">
  <div class="row justify-content-around">
    <div class="col-3">
      <h5>EnviroD Space @ PLQ</h5>
      10 Paya Lebar Rd</br>
      #05-01/02</br>
      Singapore 409057</br>
    </div>
    <div class="col-33">
      <h5>EnviroD Space @ 313</h5>
      313 Orchard Rd</br>
      #06-11/12/13</br>
      Singapore 238895</br>
    </div>
    <div class="col-3">
      <h5>EnviroD Space @ Junction 8</h5>
      9 Bishan Pl</br>
      #05-23/24</br>
      Singapore 579837</br>
    </div>
  </div>
  
</div>
</div>
</div>

{%endblock%}