{% extends 'base.template.html' %}

{% load static %} 

{%block footer_js %}
<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.4.0/mapbox-gl.js'></script>
<script src="{% static 'js/maps.js' %}"></script>
{%endblock%}

{%block content %}
<div class = "main">
<h1>Visit Us</h1>

<div id = "address">
  <div class="row justify-content-around">
      <div class="col-sm-4 mt-4">
        <h5>EnviroD Space @ PLQ</h5>
        10 Paya Lebar Rd</br>
        #05-01/02</br>
        Singapore 409057</br>
        Tel: 6722 7912</br>
        Email: plq_envirod@mail.com</br>
      </div>
      <div class="col-sm-4 mt-4">
        <h5>EnviroD Space @ 313</h5>
        313 Orchard Rd</br>
        #06-11/12/13</br>
        Singapore 238895</br>
        Tel: 6666 0095</br>
        Email: 313_envirod@mail.com</br>
      </div>
      <div class="col-sm-4 mt-4">
        <h5>EnviroD Space @ Junction 8</h5>
        9 Bishan Pl</br>
        #05-23/24</br>
        Singapore 579837</br>
        Tel: 6457 9900</br>
        Email: j8_envirod@mail.com</br>
      </div>
  </div>
  <div class="row justify-content-around call">
    <div class="col-sm-8">
      Call any of our locations during our office hours<br/>
      Tue-Fri: 2pm - 10pm or Sat-Sun: 10am - 8pm<br/>
      or drop us an email for any enquiries, feedback or collaboration ideas.<br/>
    </div>
  </div>
</div>

<div class = "map-page">
  <div id="map"></div>
</div>

</div>

{%endblock%}