html,
body{
    height: 100vh;
    width: 100vw;
    margin: 0px;
    padding: 0px;
    background-image: url(images/bg1.jpg);
    background-size: cover;
    background-position: left top;
    font-family: 'Acme', sans-serif;
}

.container {
    padding: 0px;
    background-color: rgba(217,228,230, 0.65);
}

h1 {
    font-family: 'Special Elite', cursive;
    font-size: 40px;
    font-weight: bolder;
}

/*navbar styles*/
.navbar {
    margin-bottom: 30px;
}

.navbar-brand {
    font-family: 'Bungee Inline', cursive;
    font-weight: bolder;
    font-size: 35px;
    padding-left: 10px;
    color: teal !important;
}

.logo {
    width: 70px;
    height: 70px;
}

.navbar-toggler {
    font-size: 2px;
    line-height: 0;
}

.navbar-toggler-icon {
    width: 15px;
    height: 15px;
}

.nav-link {
    font-family: 'Special Elite', cursive;
    font-size: 20px;
    font-weight: bolder;
    letter-spacing: 2px;
    color: teal !important;
}

.bg-light {
    background-color: rgba(217,228,230, 0.10) !important;
}

.footer {
    width: 100%;
    position: relative;
    bottom: 0;
    padding: 20px;
    background-color: rgba(217,228,230, 0.10) !important;
    font-family: 'Special Elite', cursive;
    font-weight: bolder;
}

.user-display {
    padding-left: 15px;
    font-size: 20px;
    font-weight: bolder;
    font-style: italic;
    letter-spacing: 1px;
    text-align: right;
    color: black;
}

form {
    padding: 30px;
    font-family: 'Special Elite', cursive;
}

.bd-example {
    padding: 0px 3px;
    margin-bottom: 20px;
}

.main {
    padding: 0px 20px;
}

.map-page {
    height: 100vh;
    padding: 0px 20px;
}

#map {
    width: 70%;
    height: 70%;
    -webkit-flex: 2;
    -ms-flex: 2;
    flex: 2;
    margin: 10px 160px;
}

#address {
    position: static;
    text-align: center;
    margin-top: 30px;
}